@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

html{
    font-size: 10px;
    font-family: 'Otomanopee One', sans-serif;
    
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
    
    
}

body{
    background-image : linear-gradient(to right, rgb(132, 210, 255), rgb(29, 151, 252));
}

.options{
    background-color: rgb(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 8px #222222 ;
    
}

ul{
    font-size: 1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    opacity: 100%;
    position: relative;
    
}

.logo{
    height: 5rem;
    
}

#login{
    position: absolute;
    right: 0;
    margin-right: 1rem;
    opacity: 80%;
}

#login:hover{
    opacity: 100%;
    cursor: pointer;
    color: #e65959;
}

#FinanceApp:hover{
    cursor: pointer;
    color: #e65959;
}

.dropAppear{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.dropAppear>li{
    color: #000000;
    margin: 0.5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px #222222 ;
    padding: 1rem;
    width: 10rem;
}

.dropAppear>li:hover{
    color: #e65959;
}

.dropDiss{
    display: none;
}

#bodyConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
#calculator>img{
  
    color: #000000;
    background-color: rgba(233, 54, 54, 0.712);
    border-radius: 5rem;
    padding: 0.5rem;
    height: 50vh;
}

@media (max-width:1200px) and (max-height:1200px){
    
}